/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* reset code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 70px;
  padding: 0 90px;
  padding-top: 110px;
}

#left {
  height: 100%;
  width: 45%;
  /* background: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

#left h1 {
  font-size: 7.2vw;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  line-height: 7.5vw;
}

#left-bottom {
  width: 100%;
  /* background: yellow; */
}

#color {
  width: fit-content;
  padding: 8px 15px;
  border-radius: 55px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
}

#color h5 {
  margin-right: 5px;
  font-weight: 500;
}

#color1,
#color2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: burlywood;
}

#color2 {
  background: brown;
  margin-left: 3px;
}

#left-bottom h2 {
  font-size: 1.95vw;
  margin-top: 40px;
  margin-bottom: 10px;
}

#left-bottom p {
  font-size: 1vw;
  width: 70%;
  font-weight: 600;
  color: #666;
  /* line-height: 28px; */
  line-height: 1.8vw;
}

#right {
  height: 90%;
  width: 30%;
  /* background: blue; */
  position: relative;
}

#right-top {
  height: 50px;
  width: 100%;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

#right-top h4 {
  font-size: 26px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

#right-top h5 {
  font-size: 16px;
}

#right-top i {
  color: gold;
}

#right img {
  height: 90.38%;
  width: 100%;
  object-fit: cover;
}

#black-circle {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 23%;
  right: 0;
  transform: translateX(50%);
}

#black-circle h5 {
  color: #fff;
  opacity: 70%;
  font-weight: 500;
  font-size: 20px;
}

#rotated {
  /* background: red; */
  width: fit-content;
  position: absolute;
  left: -13%;
  bottom: 3%;
  rotate: -90deg;
  transform-origin: 0 0;
  font-weight: 500;
  font-size: 24px;
}

@media (max-width: 600px) {
  #main {
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding: 30px;
    padding-top: 20px;
  }

  #left {
    height: fit-content;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    gap: 20px;
  }

  #left h1 {
    font-size: 16.2vw;
    line-height: 16vw;
  }

  #color {
    padding: 6px 10px;
    border-radius: 50px;
  }

  #color h5 {
    margin-right: 3px;
  }

  #color1,
  #color2 {
    width: 12px;
    height: 12px;
  }

  #color2 {
    margin-left: 3px;
  }

  #left-bottom h2 {
    font-size: 5.5vw;
    margin-top: 20px;
  }

  #left-bottom p {
    font-size: 3.5vw;
    width: 92%;
    line-height: 4.2vw;
  }

  #right {
    height: 43%;
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
  }

  #right-top {
    height: 40px;
    padding-right: 0;
  }

  #right-top h4 {
    font-size: 22px;
  }

  #right-top h5 {
    font-size: 14px;
  }

  #right img {
    height: 100%;
    border-radius: 5px;
  }

  #black-circle {
    height: 80px;
    width: 80px;
    top: 5%;
  }

  #black-circle h5 {
    font-size: 14px;
  }

  #rotated {
    left: 0;
    top: -19%;
    bottom: unset;
    rotate: 0deg;
    font-size: 20px;
  }
}
